<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Workstation.Properties.Settings.phmkConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=phmk;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>